.menu-section, .about-section, .featured-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.card__label-new, .card__label-sale {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #515151;
  border: 1px solid #000000;
  position: absolute;
  top: 10px;
  display: none;
}

.new-section__colorline, .featured-section__colorline, .best-section__colorline, .review-section__colorline, .newslatter-section__colorline, .client-section__colorline, .blog-section__colorline, .contact-section__colorline {
  width: 164px;
  display: inline-block;
  height: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.feedback__name::-webkit-input-placeholder, .feedback__email::-webkit-input-placeholder, .feedback__subject::-webkit-input-placeholder, .feedback__web::-webkit-input-placeholder, .feedback__message::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name:-ms-input-placeholder, .feedback__email:-ms-input-placeholder, .feedback__subject:-ms-input-placeholder, .feedback__web:-ms-input-placeholder, .feedback__message:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name::-ms-input-placeholder, .feedback__email::-ms-input-placeholder, .feedback__subject::-ms-input-placeholder, .feedback__web::-ms-input-placeholder, .feedback__message::-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name::placeholder, .feedback__email::placeholder, .feedback__subject::placeholder, .feedback__web::placeholder, .feedback__message::placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name::-webkit-input-placeholder, .feedback__email::-webkit-input-placeholder, .feedback__subject::-webkit-input-placeholder, .feedback__web::-webkit-input-placeholder, .feedback__message::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name::-moz-placeholder, .feedback__email::-moz-placeholder, .feedback__subject::-moz-placeholder, .feedback__web::-moz-placeholder, .feedback__message::-moz-placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name:-moz-placeholder, .feedback__email:-moz-placeholder, .feedback__subject:-moz-placeholder, .feedback__web:-moz-placeholder, .feedback__message:-moz-placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name::-ms-input-placeholder, .feedback__email::-ms-input-placeholder, .feedback__subject::-ms-input-placeholder, .feedback__web::-ms-input-placeholder, .feedback__message::-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}

.feedback__name:-ms-input-placeholder, .feedback__email:-ms-input-placeholder, .feedback__subject:-ms-input-placeholder, .feedback__web:-ms-input-placeholder, .feedback__message:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a, .top-header a:link, .top-header a:visited {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Open Sans";
  src: url("font/opensans/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("font/opensans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("font/opensans/OpenSans-Light.woff") format("woff"), url("font/opensans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("font/opensans/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("font/opensans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("font/opensans/OpenSans-Regular.woff") format("woff"), url("font/opensans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("font/opensans/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("font/opensans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("font/opensans/OpenSans-SemiBold.woff") format("woff"), url("font/opensans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("font/opensans/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("font/opensans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("font/opensans/OpenSans-Bold.woff") format("woff"), url("font/opensans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("font/opensans/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("font/opensans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("font/opensans/OpenSans-ExtraBold.woff") format("woff"), url("font/opensans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("font/roboto/Robotolight.woff2") format("woff2"), url("font/roboto/Robotolight.woff") format("woff"), url("font/roboto/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("font/roboto/Roboto.woff2") format("woff2"), url("font/roboto/Roboto.woff") format("woff"), url("font/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("font/roboto/Robotobold.woff2") format("woff2"), url("font/roboto/Robotobold.woff") format("woff"), url("font/roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("font/roboto/Robotoblack.woff2") format("woff2"), url("font/roboto/Robotoblack.woff") format("woff"), url("font/roboto/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.header {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper-top-header {
  background-color: #1abc9c;
  padding: 20px 0 18px;
}

.top-header {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.top-header a, .top-header a:link, .top-header a:visited {
  text-decoration: none;
  color: inherit;
}

.top-header a:hover {
  color: #666666;
}

.contact-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .contact-info {
    width: 20%;
  }
}

@media screen and (max-width: 480px) {
  .contact-info {
    width: 100%;
  }
}

.contact-info__icon {
  font-size: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .contact-info__text {
    display: none;
  }
}

.contact-info > a:not(:first-of-type), .top-header .contact-info > a:not(:first-of-type):link, .top-header .contact-info > a:not(:first-of-type):visited {
  margin-left: 1em;
}

.login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .login-menu {
    width: 78%;
  }
}

@media screen and (max-width: 480px) {
  .login-menu {
    width: 100%;
    font-size: 13px;
  }
}

.login-menu__item:not(:first-child) {
  margin-left: 1em;
}

@media screen and (max-width: 767px) {
  .login-menu__item:not(:first-child) {
    margin-left: 0.5em;
  }
}

.menu-section {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 1110px;
  padding: 35px 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0f0101;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .menu-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .menu-section {
    padding: 5px;
  }
}

.logo {
  font-family: "Roboto", sans-serif;
  color: #515151;
  font-weight: 300;
  font-size: 30px;
  -ms-flex-preferred-size: 29.18%;
      flex-basis: 29.18%;
}

@media screen and (max-width: 768px) {
  .logo {
    -ms-flex-preferred-size: 12.18%;
        flex-basis: 12.18%;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.logo:first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.shop-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 41.62%;
      flex-basis: 41.62%;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .shop-navigation {
    -ms-flex-preferred-size: 64.2%;
        flex-basis: 64.2%;
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .shop-navigation {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 12px;
  }
}

.shop-navigation a, .shop-navigation .top-header a:link, .top-header .shop-navigation a:link, .shop-navigation .top-header a:visited, .top-header .shop-navigation a:visited {
  text-decoration: none;
  color: inherit;
}

.shop-navigation a:link, .shop-navigation a:visited {
  text-decoration: none;
  color: inherit;
}

.shop-navigation a:hover {
  color: #1abc9c;
  background-color: inherit;
}

.shop-navigation a:active {
  color: #22ddb8;
  background-color: inherit;
}

.cart {
  -ms-flex-preferred-size: 29.18%;
      flex-basis: 29.18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .cart {
    -ms-flex-preferred-size: 19.80%;
        flex-basis: 19.80%;
  }
}

@media screen and (max-width: 480px) {
  .cart {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.cart > a, .top-header .cart > a:link, .top-header .cart > a:visited {
  color: inherit;
  text-decoration: none;
}

.cart > a:link, .top-header .cart > a:link {
  color: inherit;
  text-decoration: none;
}

.cart > a:visited, .top-header .cart > a:visited {
  color: inherit;
  text-decoration: none;
}

.counter {
  position: relative;
}

.counter__text {
  font-size: 18px;
  font-weight: normal;
}

.counter:hover {
  color: #0f0101;
}

.counter:hover .popup-basket {
  opacity: 1;
}

.basket {
  display: inline-block;
  position: relative;
}

.basket__square {
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 20px;
  width: 20px;
  border: 1px solid #0f0101;
  background-color: #ffffff;
  color: #1abc9c;
  position: relative;
  z-index: 2;
  text-align: center;
}

.basket__circle {
  height: 14px;
  width: 14px;
  border: 1px solid #0f0101;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: 3px;
  z-index: 1;
}

.popup-basket {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #1abc9c;
  background-color: #ffffff;
  padding: 4px;
  font-size: 12px;
  position: absolute;
  top: 27px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 1;
}

.popup-basket__text {
  font-size: 16px;
  font-weight: bold;
}

.carousel-section {
  max-width: 1600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(320px, 1600px);
      grid-template-columns: minmax(320px, 1600px);
  margin: 0 auto;
}

#carouselExampleControls {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.prev-button {
  background-color: #4ec6ab;
  font-size: 5.56rem;
  padding: 0.5rem;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .prev-button {
    font-size: 2.78rem;
    padding: 0.4rem;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .prev-button {
    font-size: 1.39rem;
    padding: 0.2rem;
    margin-bottom: 20px;
  }
}

a.carousel-control-next, .top-header a.carousel-control-next:link, .top-header a.carousel-control-next:visited {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 15%;
}

a.carousel-control-prev, .top-header a.carousel-control-prev:link, .top-header a.carousel-control-prev:visited {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 15%;
}

.carousel-content {
  width: 75%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .carousel-content {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-content {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-content {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .carousel-content {
    font-size: 12px;
  }
}

.carousel-content__text {
  margin-top: -7px;
  margin-bottom: 22px;
  line-height: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.carousel-content__text_colored {
  font-weight: 700;
  color: #4ec6ab;
}

.carousel-content__text_marked {
  font-weight: 600;
  color: #4ec6ab;
}

.carousel-content__button {
  border: 2px solid #4ec6ab;
  background: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  padding: 10px 27px;
}

@media screen and (max-width: 768px) {
  .carousel-content__button {
    padding: 5px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-content__button {
    font-size: 10px;
    padding: 5px;
  }
}

.carousel-content__button:hover {
  border: 3px solid #ffffff;
  color: #4ec6ab;
  font-weight: bold;
  text-decoration: none;
}

.carousel-content__button:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.about-section {
  max-width: 1110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6.25%;
  padding-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1023px) {
  .about-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .about-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
}

.about-section a, .about-section .top-header a:link, .top-header .about-section a:link, .about-section .top-header a:visited, .top-header .about-section a:visited {
  text-decoration: none;
  color: inherit;
}

.about-section a:link, .about-section a:visited {
  text-decoration: none;
  color: inherit;
}

.about-section a:hover {
  color: #1abc9c;
  background-color: inherit;
}

.about-section a:active {
  color: #22ddb8;
  background-color: inherit;
}

.about-section__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .about-section__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 768px) {
  .about-section__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media screen and (max-width: 480px) {
  .about-section__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.link {
  text-decoration: none;
  color: #515151;
  text-align: center;
}

.link__icon {
  font-size: 70px;
}

.link__caption {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 47px;
  margin-bottom: 19px;
}

.link__text {
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.75;
}

.link:hover > .link__text {
  color: #515151;
}

.new-section {
  background-color: #e9f0fd;
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-section__header {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .new-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .new-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .new-section__header {
    font-size: 18px;
  }
}

.new-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.new-section__colorline {
  border-top: 2px solid #e9f0fd;
  border-bottom: 2px solid #e9f0fd;
  background-color: #1abc9c;
  -webkit-box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
          box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
}

.new-section__item, .featured-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24.5%;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .new-section__item, .featured-section__item {
    width: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .new-section__item, .featured-section__item {
    width: 45%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .new-section__item, .featured-section__item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.new-section__item:hover .overlay-buy, .featured-section__item:hover .overlay-buy {
  opacity: 1;
}

.new-section__item:hover .card__produckt-name, .featured-section__item:hover .card__produckt-name {
  background-color: #1abc9c;
}

.new-section__item:hover .card__price, .featured-section__item:hover .card__price {
  background-color: #1abc9c;
}

.wrapper-new-section, .wrapper-featured {
  max-width: 1110px;
  width: 100%;
  padding-bottom: 6.25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .wrapper-new-section, .wrapper-featured {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-new-section, .wrapper-featured {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-new-section, .wrapper-featured {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
}

.wrapper-card {
  position: relative;
}

.card {
  width: 255px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 21.18%;
      grid-template-columns: 1fr 21.18%;
  position: relative;
}

.card__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  height: auto;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card__produckt-name {
  font-size: 18px;
  color: #ffffff;
  background-color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.card__price {
  font-size: 18px;
  color: #ffffff;
  background-color: #8c8c8c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.card__label-new {
  padding: 8px 17px 9px 18px;
  left: 10px;
}

.card__label-sale {
  padding: 9px 16px;
  right: 10px;
}

.card_new > .card__label-new,
.card_sale > .card__label-sale {
  display: block;
}

.overlay-buy {
  width: 235px;
  height: 260px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[3];
      grid-template-columns: repeat(3, 50px);
  grid-gap: 9px;
  font-size: 30px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.overlay-buy__item {
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
}

.overlay-buy__item:hover {
  background-color: #1abc9c;
}

.overlay-buy__add {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  width: 100%;
  background-color: #323232;
}

.overlay-buy__add-text {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.featured-section {
  width: 100%;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-section__header {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .featured-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .featured-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .featured-section__header {
    font-size: 18px;
  }
}

.featured-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.featured-section__colorline {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  background-color: #1abc9c;
  -webkit-box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
          box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
}

.gallery-menu {
  padding: 10px 0 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .gallery-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0 50px;
  }
}

.gallery-menu > a:not(:first-of-type), .top-header .gallery-menu > a:not(:first-of-type):link, .top-header .gallery-menu > a:not(:first-of-type):visited {
  margin-left: 10px;
}

.gallery-menu__item {
  display: inline-block;
  padding: 8px 10px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #959595;
  border-radius: 2px;
  font-size: 16px;
  color: #959595;
  position: relative;
}

@media screen and (max-width: 480px) {
  .gallery-menu__item {
    font-size: 10px;
    padding: 3px 2px;
    text-transform: lowercase;
  }
}

.gallery-menu__item:hover {
  background-color: #1abc9c;
  color: #ffffff;
  text-decoration: none;
}

.gallery-menu__item:hover > .gallery-menu__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-menu__item:active {
  background-color: #22ddb8;
}

.gallery-menu__counter {
  font-weight: 700;
  font-size: 20px;
  color: #1abc9c;
  width: 38px;
  height: 38px;
  border: 1px solid #373737;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -35px;
  right: -10px;
  display: none;
}

.sale-season {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 170px 0 135px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: url(../img/bg-holl.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 1023px) {
  .sale-season {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .sale-season {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .sale-season {
    font-size: 10px;
  }
}

.sale-season__header {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: 800;
  font-size: 3.3333em;
  text-transform: uppercase;
}

.sale-season__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}

.best-section {
  background-color: #e9f0fd;
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.best-section__header {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .best-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .best-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .best-section__header {
    font-size: 18px;
  }
}

.best-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.best-section__colorline {
  border-top: 2px solid #e9f0fd;
  border-bottom: 2px solid #e9f0fd;
  background-color: #1abc9c;
  -webkit-box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
          box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
}

.best-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24.5%;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .best-section__item {
    width: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .best-section__item {
    width: 45%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .best-section__item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.best-section__item:hover .overlay-buy {
  opacity: 1;
}

.best-section__item:hover .card__produckt-name {
  background-color: #1abc9c;
}

.best-section__item:hover .card__price {
  background-color: #1abc9c;
}

.wrapper-best-section {
  max-width: 1110px;
  width: 100%;
  padding-bottom: 6.25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .wrapper-best-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-best-section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-best-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
}

.wrapper-card {
  position: relative;
}

.card {
  width: 255px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 21.18%;
      grid-template-columns: 1fr 21.18%;
  position: relative;
}

.card__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  height: auto;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card__produckt-name {
  font-size: 18px;
  color: #ffffff;
  background-color: #323232;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.card__price {
  font-size: 18px;
  color: #ffffff;
  background-color: #8c8c8c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.card__label-new {
  padding: 8px 17px 9px 18px;
  left: 10px;
}

.card__label-sale {
  padding: 9px 16px;
  right: 10px;
}

.card_new > .card__label-new,
.card_sale > .card__label-sale {
  display: block;
}

.overlay-buy {
  width: 235px;
  height: 260px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[3];
      grid-template-columns: repeat(3, 50px);
  grid-gap: 9px;
  font-size: 30px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.overlay-buy__item {
  border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
}

.overlay-buy__item:hover {
  background-color: #1abc9c;
}

.overlay-buy__add {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  width: 100%;
  background-color: #323232;
}

.overlay-buy__add-text {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.review-section {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  color: #515151;
}

.review-section__header {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .review-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .review-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .review-section__header {
    font-size: 18px;
  }
}

.review-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.review-section__colorline {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  background-color: #1abc9c;
  -webkit-box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
          box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
}

.review-section__img {
  width: 13.75%;
  height: auto;
  border: none;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .review-section__img {
    width: 75%;
  }
}

.review-section__text {
  max-width: 800px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin: 33px 0;
}

.review-section__name {
  color: #1abc9c;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.review-section__name:after {
  content: " -";
}

.review-section__name:before {
  content: "- ";
}

.review-section__name__from {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}

.review-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-selector__item {
  width: 82px;
  height: 82px;
  border: 5px solid #000000;
  border-radius: 50%;
}

.review-selector__item:hover {
  border-color: #1abc9c;
}

.review-selector__item:active {
  border-color: #22ddb8;
}

.newslatter-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 7.5em;
  background-color: #4ec6ab;
  background-image: url(../img/bg-green.jpg);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans , sans-serif";
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

.newslatter-section__header {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .newslatter-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .newslatter-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .newslatter-section__header {
    font-size: 18px;
  }
}

.newslatter-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.newslatter-section__colorline {
  border-top: 2px solid #1abc9c;
  border-bottom: 2px solid #1abc9c;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff;
          box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff;
}

.newslatter-section__line {
  padding: 27px 0;
}

.newslatter-section__text {
  text-align: center;
}

.wrapper-submit {
  padding-top: 42px;
  width: 100%;
}

.newsletter-submit {
  position: relative;
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
}

.newsletter-submit__field {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 29px;
  border: none;
  border-radius: 4px;
}

.newsletter-submit__field:invalid {
  border: 3px solid #c70000;
}

.newsletter-submit__button {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 90px;
  height: 56px;
  font-size: 50px;
  color: #ffffff;
  background-color: #4ec6ab;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  right: 2px;
  top: 2px;
}

.newsletter-submit__button:hover {
  color: #4ec6ab;
  background-color: white;
}

.client-section {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #e9f0fd;
}

.client-section__header {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .client-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .client-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .client-section__header {
    font-size: 18px;
  }
}

.client-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.client-section__colorline {
  border-top: 2px solid #e9f0fd;
  border-bottom: 2px solid #e9f0fd;
  background-color: #1abc9c;
  -webkit-box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
          box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
}

.wrapper-client-link {
  margin: 0 auto;
  padding-bottom: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1110px;
}

.client-link {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  border: 1px solid #4ec6ab;
}

.client-link:hover {
  border: 3px solid #ffffff;
}

.client-link:active {
  border: 3px solid #22ddb8;
}

.client-link__img {
  width: 100%;
  height: auto;
}

.blog-section {
  padding-bottom: 80px;
}

.blog-section__header {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .blog-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .blog-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .blog-section__header {
    font-size: 18px;
  }
}

.blog-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.blog-section__colorline {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  background-color: #1abc9c;
  -webkit-box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
          box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
}

.wrapper-blog {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}

.blog {
  width: 32%;
}

@media screen and (max-width: 767px) {
  .blog {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.blog__img {
  width: 100%;
  height: auto;
}

.blog__caption {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  letter-spacing: -0.37px;
  padding-right: 15px;
  line-height: 1.4;
}

.blog__line {
  width: 39%;
  border: none;
  background-color: #4ec6ab;
  color: #4ec6ab;
  height: 3px;
  margin: 10px auto 23px 0;
}

.blog__text {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.3px;
  padding-right: 15px;
  line-height: 1.8;
  margin-bottom: 13px;
}

.blog__button {
  display: inline-block;
  padding: 13px 42px;
  border: none;
  border-radius: 3px;
  background-color: #4ec6ab;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}

.blog__button:hover {
  background-color: #22ddb8;
  color: #ffffff;
  text-decoration: none;
}

.blog__button:active {
  background-color: #ffffff;
  color: #22ddb8;
  text-decoration: none;
}

.contact-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 100px;
  background: url(../img/bg-map.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.contact-section__header {
  color: #ffffff;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 27px;
}

@media screen and (max-width: 1023px) {
  .contact-section__header {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .contact-section__header {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .contact-section__header {
    font-size: 18px;
  }
}

.contact-section__line {
  text-align: center;
  padding-bottom: 77px;
}

.contact-section__colorline {
  border-top: 2px solid #515151;
  border-bottom: 2px solid #515151;
  background-color: #1abc9c;
  -webkit-box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
          box-shadow: 0 2px 0 #1abc9c, 0 -2px 0 #1abc9c;
}

.wrapper-contact {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .wrapper-contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.info {
  width: 48%;
}

@media screen and (max-width: 1023px) {
  .info {
    width: 99%;
  }
}

.info__logo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 72px;
}

.info__logo:first-letter {
  color: #1abc9c;
  font-weight: 300;
}

.info__address {
  width: 50%;
}

.info__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.info__network a, .info__network .top-header a:link, .top-header .info__network a:link, .info__network .top-header a:visited, .top-header .info__network a:visited {
  text-decoration: none;
  color: inherit;
}

.info__network a:link, .info__network a:visited {
  text-decoration: none;
  color: inherit;
}

.info__network a:hover {
  color: inherit;
  background-color: #4ec6ab;
}

.info__network a:active {
  color: inherit;
  background-color: #22ddb8;
}

.info__subheader {
  font-size: 18px;
  font-weight: 400;
}

.info__text {
  font-size: 14px;
  font-weight: 300;
}

.address {
  width: 50%;
}

.address__office, .address__tel, .address__email {
  font-weight: 300;
  font-size: 14px;
}

.address__office_marked, .address__tel_marked, .address__email_marked {
  color: #4ec6ab;
  font-weight: 700;
}

.network {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 537px;
  width: 48%;
  font-size: 18px;
}

@media screen and (max-width: 1023px) {
  .feedback {
    width: 99%;
  }
}

.feedback__name, .feedback__email, .feedback__subject, .feedback__web {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  height: 2.7778em;
  padding-left: 19px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.feedback__name:focus, .feedback__email:focus, .feedback__subject:focus, .feedback__web:focus {
  color: #4ec6ab;
  border: 1px solid #4ec6ab;
}

.feedback__message {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 0 0 19px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}

.feedback__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 12.38px 55px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #4ec6ab;
}

.feedback__button:hover {
  font-weight: 600;
}

.feedback__button:active {
  background-color: #22ddb8;
}

.footer {
  max-width: 1600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 33px 0 36px;
  background-color: #000000;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #4ec6ab;
}

.footer a, .footer .top-header a:link, .top-header .footer a:link, .footer .top-header a:visited, .top-header .footer a:visited {
  text-decoration: none;
  color: inherit;
}

.footer a:link, .footer a:visited {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  color: #c70000;
  background-color: inherit;
}

.footer a:active {
  color: #22ddb8;
  background-color: inherit;
}

.footer__text {
  margin: 0 auto;
}

.footer__copyright {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */