.wrapper-carousel {
    max-width: 1600px;
    display: grid;
    grid-template-columns: minmax(320px, 1600px);
}
#carouselExampleControls {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.prev-button {
    background-color: #4e9b89;
    font-size: 5.56rem;
    padding: 0.5rem;
    margin-bottom: 60px;
}
a.carousel-control-next {
    justify-content: flex-end;
    width: 15%;
}
a.carousel-control-prev {
    justify-content: flex-start;
    width: 15%;
}
.carousel-content {
    width: 75%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 1;
    align-self: center;
    justify-self: center;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.carousel-content__text {
    margin-top: -7px;
    margin-bottom: 22px;
    line-height: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.carousel-content__text_colored {
    font-weight: 700;
    color: #4e9b89;
}
.carousel-content__text_marked {
    font-weight: 600;
    color: #4e9b89;
}
.carousel-content__button {
    border: 2px solid #4e9b89;
    background: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    padding: 10px 27px;
}
.carousel-content__button:hover,
.carousel-content__button:visited {
    border: 3px solid #4e9b89;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.carousel-content__button:active {
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel-content__text + p {
    margin-top: -2px;
    margin-bottom: -18px;
}
