.wrapper-submit {
    max-width: 1600px;
    background-color: #4e9b89;
    padding: 20px;
}
.newsletter-submit {
    position: relative;
    width: 33.75%;
}
.newsletter-submit__field {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding-left: 29px;
    border: none;
    border-radius: 4px;
}
.newsletter-submit__field:invalid {
    border: 3px solid #c70000;
}
.newsletter-submit__button {
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 90px;
    height: 56px;
    font-size: 50px;
    color: #ffffff;
    background-color: #4e9b89;
    box-shadow: none;
    position: absolute;
    right: 2px;
    top: 2px;
}
.newsletter-submit__button:hover {
    color: #4e9b89;
    background-color: #ffffff;
}
.newsletter-submit__button:active {
    background-color: #285047;
    font-weight: bolder;
}