.about-section {
    max-width: 1110px;
    @extend %main-maket;
    justify-content: space-between;
    @media screen and (max-width: $screen-max-lg) {
        justify-content: space-around;
    }
    @media screen and (max-width: $screen-md) {
        justify-content: space-around;
    }
    @media screen and (max-width: $screen-min-sd) {
        justify-content: center;
        padding: 5px;
    }
    @include link-style($mountainMeadow, inherit , $mountainMeadow-active , inherit);
    padding-top: 6.25%;
    padding-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    &__item {
        flex-basis: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $screen-max-lg) {
            flex-basis: 40%;
        }
        @media screen and (max-width: $screen-md) {
            flex-basis: 45%;
        }
        @media screen and (max-width: $screen-min-sd) {
            flex-basis: 100%;
        }
    }
    
}
.link {
    text-decoration: none;
    color: $emperor;
    text-align: center;
    &__icon {
        font-size: 70px;
    }
    &__caption {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 47px;
        margin-bottom: 19px;
    }
    &__text {
        font-weight: lighter;
        font-size: 14px;
        line-height: 1.75;
    }
    &:hover > &__text {
        color: $emperor;
    }
}
