.client-section {
    max-width: $page-size;
    margin: 0 auto;
    background-color: $hawkes-blue;
    
    @include header ($emperor);
    
    &__colorline {
        @include colorline ($mountainMeadow , $hawkes-blue)
    }
}
.wrapper-client-link {
    margin: 0 auto;
    padding-bottom: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1110px;
}
.client-link {
    flex-basis: 24%;
    border: 1px solid $puertoRico;
    &:hover {
        border: 3px solid $white;
    }
    &:active {
        border: 3px solid $mountainMeadow-active;
    }
    &__img {
        width: 100%;
        height: auto;
    }
}
