.review-section {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans";
    color: $emperor;
    @include header ($emperor);
    
    &__colorline {
        @include colorline ($mountainMeadow , $white)
    }
    &__img {
        width: 13.75%;
        @media screen and (max-width: $screen-min-sd) {
            width: 75%;
        }
        height: auto;
        border: none;
        border-radius: 50%;
    }
    &__text {
        max-width: 800px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin: 33px 0;
    }
    &__name {
        color: $mountainMeadow;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
        &:after {
            content: " -";
        }
        &:before {
            content: "- ";
        }
        &__from {
            display: inline-block;
            font-size: 14px;
            font-weight: 300;
        }
    }
}
.review-selector {
    display: flex;
    width: 290px;
    padding-top: 30px;
    justify-content: space-between;
    &__item {
        width: 82px;
        height: 82px;
        border: 5px solid $black;
        border-radius: 50%;
        &:hover {
            border-color: $mountainMeadow;
        }
        &:active {
            border-color: $mountainMeadow-active;
        }
    }
}
