.header {
    max-width: $page-size;
    margin: 0 auto;
}
.wrapper-top-header {
    background-color: $mountainMeadow;
    padding: 20px 0 18px;
}

.top-header {
    max-width: $vwidth;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    & a {
        text-decoration: none;
        color: inherit;
        &:link,
        &:visited {
            @extend a;
        }
        &:hover {
            color: (darken($color: $white, $amount: 60));
        }
    }
}
.contact-info {
    width: 50%;
    @media screen and (max-width: $screen-max-md) {
        width: 20%;
    }
    @media screen and (max-width: $screen-min-sd) {
        width: 100%;
    }
    display: flex;
    justify-content: flex-start;
    &__icon {
        font-size: 20px;
        vertical-align: middle;
    }
    &__text {
        @media screen and (max-width: $screen-max-md) {
            display: none;
        }
    }
    &>a:not(:first-of-type) {
        margin-left: 1em;
    }
}
.login-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 50%;
    @media screen and (max-width: $screen-max-md) {
        width: 78%;
    }
    @media screen and (max-width: $screen-min-sd) {
        width: 100%;
        font-size: 13px;
    }
    &__item:not(:first-child) {
        margin-left: 1em;
        @media screen and (max-width: $screen-max-md) {
            margin-left: 0.5em;
        }
    }

}

.menu-section {
    @extend %main-maket;
    flex-wrap: nowrap;
    @media screen and (max-width: $screen-min-sd) {
        flex-direction: column;
    }
    max-width: 1110px;
    padding: 35px 0 30px;
    @media screen and (max-width: $screen-min-sd) {
        padding: 5px;
    }
    justify-content: space-between;
    align-items: center;
    color: $kilamanjaro;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.logo {
    font-family: "Roboto", sans-serif;
    color: $emperor;
    font-weight: 300;
    font-size: 30px;
    flex-basis: 29.18%;
    @media screen and (max-width: $screen-md) {
        flex-basis: 12.18%;
    }
    @media screen and (max-width: $screen-min-sd) {
        justify-content: flex-start;
    }
    &:first-letter {
        color: $mountainMeadow;
        font-weight: 900;
    }
}

.shop-navigation {
    display: flex;
    justify-content: space-between;
    flex-basis: 41.62%;
    @media screen and (max-width: $screen-md) {
        flex-basis: 64.2%;
        font-size: 13px;
    }
    @media screen and (max-width: $screen-min-sd) {
        width: 100%;
        justify-content: space-around;
        font-size: 12px;
    }
    font-size: 14px;
    font-weight: bold;
    @include link-style(
        $mountainMeadow,
        inherit,
        $mountainMeadow-active,
        inherit
    );
}

.cart {
    flex-basis: 29.18%;
    @media screen and (max-width: $screen-md) {
        flex-basis: 19.80%;
    }
    @media screen and (max-width: $screen-min-sd) {
        width: 100%;
        justify-content: flex-end;
    }
    display: flex;
    justify-content: flex-end;
    &>a {
        color: inherit;
        text-decoration: none;
    }
    &>a:link {
        color: inherit;
        text-decoration: none;
    }
    &>a:visited {
        color: inherit;
        text-decoration: none;
    }
}
.counter {
    position: relative;
    &__text {
        font-size: 18px;
        font-weight: normal;
    }
    &:hover {
        color: $kilamanjaro;
        & .popup-basket {
            opacity: 1;
        }
    }
}
.basket {
    display: inline-block;
    position: relative;
    &__square {
        display: inline-block;
        box-sizing: content-box;
        height: 20px;
        width: 20px;
        border: 1px solid $kilamanjaro;
        background-color: $white;
        color: $mountainMeadow;
        position: relative;
        z-index: 2;
        text-align: center;
    }
    &__circle {
        height: 14px;
        width: 14px;
        border: 1px solid $kilamanjaro;
        border-radius: 50%;
        position: absolute;
        top: -9px;
        right: 3px;
        z-index: 1;
    }
}
.popup-basket {
    box-sizing: border-box;
    border: 1px solid $mountainMeadow;
    background-color: $white;
    padding: 4px;
    font-size: 12px;
    position: absolute;
    top: 27px;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    &__text {
        font-size: 16px;
        font-weight: bold;
    }
}
