.new-section {
    background-color: $hawkes-blue;
    max-width: $page-size;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include header ($emperor);
    
    &__colorline {
        @include colorline ($mountainMeadow , $hawkes-blue)
    }
    &__item {
        display: flex;
        width: 24.5%;
        margin-bottom: 30px;
        justify-content: space-between;
        @media screen and (max-width: $screen-max-lg) {
            width: 40%;
            justify-content: space-around;
        }
        @media screen and (max-width: $screen-md) {
            width: 45%;
            justify-content: space-around;
        }
        @media screen and (max-width: $screen-min-sd) {
            width: 100%;
            justify-content: center;
        }
        &:hover {
            & .overlay-buy {
                opacity: 1;
            }
            & .card__produckt-name {
                background-color: $mountainMeadow;
            }
            & .card__price {
                background-color: $mountainMeadow;
            }
        }
    }
}
.wrapper-new-section {
    max-width: 1110px;
    width: 100%;
    padding-bottom: 6.25%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    @media screen and (max-width: $screen-max-lg) {
        justify-content: space-around;
    }
    @media screen and (max-width: $screen-md) {
        justify-content: space-around;
    }
    @media screen and (max-width: $screen-min-sd) {
        justify-content: center;
        padding: 5px;
    }
}
.wrapper-card {
    position: relative;
}
.card {
    width: 255px;
    display: grid;
    grid-template-columns: 1fr 21.18%;
    position: relative;
    &__img {
        grid-column: 1 /3;
        height: auto;
        width: 100%;
        justify-self: center;
    }
    &__produckt-name {
        font-size: 18px;
        color: $white;
        background-color: $mine-shaft;
        box-sizing: border-box;
        padding: 10px;
    }
    &__price {
        font-size: 18px;
        color: $white;
        background-color: $grey;
        box-sizing: border-box;
        padding: 10px;
    }
    &__label-new {
        @extend %sticker;
        padding: 8px 17px 9px 18px;
        left: 10px;
    }
    &__label-sale {
        @extend %sticker;
        padding: 9px 16px;
        right: 10px;
    }
    &_new > &__label-new,
    &_sale > &__label-sale {
        display: block;
    }
}
.overlay-buy {
    width: 235px;
    height: 260px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 9px;
    font-size: 30px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    background-color: $bg-card;
    color: $white;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
    &__item {
        border: 1px solid $white;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        &:hover {
            background-color: $mountainMeadow;
        }
    }
    &__add {
        grid-column: 1 / 4;
        width: 100%;
        background-color: $mine-shaft;
    }
    &__add-text {
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        
    }
}
