.new-collection {
    @extend %main-maket;
    padding-top: 6.25%;
    background-color: $hawkes-blue;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;

    &__header {
        @extend %section-header;
    }
    &__line {
        flex-basis: 100%;
        text-align: center;
        padding: 1.5625rem 0 4.6875rem;
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 24%;
        position: relative;
    }
}
.colorline {
    width: 164px;
    display: inline-block;
    height: 15px;
    box-sizing: border-box;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    background-color: $main-theme-color;
    box-shadow: 0 2px 0 $main-theme-color, 0 -2px 0 $main-theme-color;
    text-align: center;
}
.card {
    display: grid;
    grid-template-columns: 1fr 21.18%;
    position: relative;
    &__img {
        grid-column: 1 /3;
        height: auto;
        width: 100%;
        justify-self: center;
    }
    &__produckt-name {
        font-size: 18px;
        color: $white;
        background-color: $mine-shaft;
        box-sizing: border-box;
        padding: 10px;
    }
    &__price {
        font-size: 18px;
        color: $white;
        background-color: $grey;
        box-sizing: border-box;
        padding: 10px;
    }
    &__label-new {
        @extend %sticker;
        padding: 8px 17px 9px 18px;
        left: 10px;
    }
    &__label-sale {
        @extend %sticker;
        padding: 9px 16px;
        right: 10px;
    }
}
.overlay-buy {
    width: 235px;
    height: 260px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 9px;
    font-size: 30px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    background-color: $bg-card;
    color: $white;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 1s;
    &__item {
        border: 1px solid $white;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
    }
    &__add {
        grid-column: 1 / 4;
        width: 100%;
        background-color: $mine-shaft;
    }
    &__add-text {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
}
.overlay-buy__item:hover {
    background-color: $main-theme-color;

}

.new-collection__item:hover {
    & .overlay-buy {
        opacity: 1;
    }
    & .card__produckt-name{
        background-color: $main-theme-color;
    }
    & .card__price {
        background-color: $main-theme-color;
    }
}