$mountainMeadow: #1abc9c;
$mountainMeadow-active: #22ddb8;
$puertoRico: #4ec6ab;
$white: #ffffff;
$black: #000000;
$kilamanjaro: #0f0101;
$emperor: #515151;
$mine-shaft: #323232;
$mineShaft: #373737;
$hawkes-blue: #e9f0fd;
$grey: #8c8c8c;
$dustyGray: #959595;


$bg-card: rgba(50, 50, 50, 0.5);

$padding-xlg: 15.3125%;
$page-size: 1600px;